{% extends 'todo/layout.html' %}
{% block content %}

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tarea</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <th scope="row">{{ tarea.id }}</th>
            <td>{{ tarea }}</td>
            <td>
                <a href="{% url 'eliminar' tarea.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                <a href="{% url 'editar' tarea.id %}" class="btn btn-primary btn-sm">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}